#Database
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_URL=

#Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

#Jwt
JWT_SECRET=

#Redis
REDIS_URL=
REDIS_TOKEN=


#Sentry
SENTRY_DSN=
SENTRY_AUTH_TOKEN=

#Mailjet
MAILJET_API_KEY=
MAILJET_API_SECRET=

#AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
